.footer
{

    width: 100%;
    background-color:#f5f5fb;
    text-align:center;
    font-size:18px;
}

.footer .footertext {
    width: 100%;
    padding-top:15px;
    left:62%;
    color:black;
}

.footer a
{
    color:#000;
    text-decoration: none;
}


@media (max-width:892px)
{
    .footer
    {
        position: relative;
        height: 80px;
        top:30%;
        background-color:#f5f5fb;
        text-align:center;
        font: normal normal normal 13px/28px Arial;
        margin-bottom: 0;
    }
    .footer p{
            text-align:center;

    }
}