
.top3 { margin-top:3%; }
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top8 { margin-top:8%; }

.whybonpedia
{
       opacity: 1;
       width: 100%;
       top:100px;
       height: 550px;
       background-color: #221C47;
       background-size: cover, contain;
       background-position: center;
       background-repeat: no-repeat, no-repeat;


}


.whybonpedia .text
{
       position: relative;
       top:40px;
       font: normal normal bold 42px Arial;
       letter-spacing: 0px;
       color: #FFFFFF;
       opacity: 1;
}

.whybonpedia  .mockup3 img
{
       position: absolute;
       top:10px;
       margin-bottom: 10px;
       left: 15%;
       height: 50px;
       width:100%;
}

.whybonpedia .smallicons
{
       position: absolute;
       left:0%;
       margin-top: 23px;
       width: 75px;
       height: 75px;
}

.whybonpedia .innertext
{
       position: absolute;
       left:11%;
       margin-top: -210px;
       width: 320px;
       height: 172px;
       text-align: left;
       font: normal normal normal 24px/34px Arial;
       letter-spacing: 0px;
       color: #221C47;
       opacity: 1;
}

@media(max-width:892px)
{
       .whybonpedia
       {
       padding:10px 6px 80px;
       height: 900px;
       width: 100%;
       }
       .whybonpedia .text
       {
       position: relative;
       top:20px;
       font: normal normal bold 32px Arial;
       letter-spacing: 0px;
       color: #FFFFFF;
       opacity: 1;
       }
       .whybonpedia  .mockup3 .imagemask
       {
       position: absolute;
       width: 100%;
       top: 100%;
       height: 65%;
       left:0%;
       }
       .whybonpedia .innertext
       {
       position: absolute;
       left:9%;
       margin-top: -110px;
       text-align: left;
       margin-left:0px;
       margin-right:0px;
       width: 85%;
       height: 172px;
       font: normal normal normal 16px/20px Arial;
       }

       .whybonpedia .square
       {
       width: 100%;
       height: 225px;
       padding: 0%;
       }

}